.visual-PBI_CV_6938D334_2150_44C5_AD98_7DD712A83C82_DEBUG p {
  font-size: 20px;
  font-weight: bold;
  background-color: pink;
}
.visual-PBI_CV_6938D334_2150_44C5_AD98_7DD712A83C82_DEBUG p em {
  background: yellow;
  padding: 5px;
}
.visual-PBI_CV_6938D334_2150_44C5_AD98_7DD712A83C82_DEBUG body {
  background-color: red;
}
.visual-PBI_CV_6938D334_2150_44C5_AD98_7DD712A83C82_DEBUG div {
  background-color: green;
}
